body{
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: fit-content;
    /* background-color: lightgray; */
    padding: 30px;
}


.title-logo{
    display: flex;
    justify-content: space-between;
    gap:300px;
}

.dark-theme-btn{
    width: 40px;
    height:40px;
    margin-top: 18px;
    border:solid 1px grey;
    border-radius: 7px;
    cursor: pointer;
}

.header p{
    color:grey;
    padding-top:0;
    margin-top: 0;
}

.input-container{
    position: relative;
    align-items: center;
    gap: 10px;
}

.input-container input{
    /* flex: 1; */
    padding: 15px;
    width: 600px;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 15px;
}

.input-container button{
    position: absolute;
    right: 20px;
    top:10px;
    cursor: pointer;
    padding: 10px 25px;
    background-color: hsl(217, 90%, 55%);
    color: white;
    border: none;
    border-radius: 8px;
}
.input-container button:hover{
    background-color: hsl(217, 90%, 60%);;
}

.input-container button:active{
    background-color:  hsl(217, 90%, 70%);
}